*{
margin: 0;
padding: 0;

}





body{

background-color: blue;

color:aliceblue
}


.cabecalho{
display: flex;

    background: black;
    background: ;
    color: blueviolet;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    padding:24px 0;
}

.cabecalho-imagem{

width: 34%  ;
}

.lista-item{O futebol é o esporte mais popular do mundo e suas origens remontam há 5 mil anos na China. O futebol moderno surgiu na Inglaterra durante o século XIX. O futebol é considerado o esporte coletivo mais popular do mundo. O futebol é o esporte coletivo mais popular do planeta.

    display: inline-block;

    margin: 0  10px;

    font-size: 24px ;

}
.secao1{

    background: red);
    background:linear-gradient(blak);
    display: flex;


}